@import "clearbold-mixins.scss";
@import "variables.scss";

@include cb-normalize;
@include cb-basics;
@include cb-ie;

* {

}

body {

}

p {
    margin-bottom: 1em;
}
label {
    display: block;
}
textarea {
    width: 480px;
}