@import "clearbold-mixins.scss";
@import "variables.scss";

@include cb-normalize;
@include cb-basics;
@include cb-ie;

* {

}

body {
    background: $body-bg;
    font-family: $font-family;
}

.wrapper {
    background: $form-bg;
    margin: 0 auto;
    padding: 200px 20px 200px;
    width: 640px;
}

p {
    margin-bottom: 1em;
}
label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5em;
    text-indent: 14px;
}

input, textarea {
    font-size: 16px;
    padding: 10px;
}
input[type=text], input[type=email], textarea, iframe {
    border: 1px solid #333;
    width: 100%;
}
input[type=submit] {
    float: right;
}
iframe {
    height: 600px;
}